#mainpageproduct {
}

.containerproduct {
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 20px;
    margin-right: auto;
    margin-left: auto;
}

.typoFine {
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    padding-top: 75px;
}

.breadcrumbFine {
    margin: 0 20px 20px 0;
    text-decoration: none;
    color: inherit;
    background-color: none;
    display: flex;
    flex-wrap: wrap;
    padding: 0.75rem 1rem;
    margin-bottom: 1rem;
    list-style: none;
    border-radius: 2px;
}

.ficheProduit {
    position: relative;
    margin: 0px 0px 50px;
}

.ficheProduit .nom-produit {
    text-transform: uppercase;
    text-align: left;
    font-size: 30px;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
}

.row {
    margin-right: -15px;
    margin-left: -15px;
}

.col-md-6 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.portfolioThumbs {
    font-size: 0;
}

.ficheProduit .carousel-content {
    position: relative;
}

.pink-buttons {
  padding: 8px 4px;
  background-color: #F2A3A0;
  border-radius: 4px;
  border: none;
  width: 20%;
  margin-top: 24px;
}

.pink-button:hover {
  background-color: #F6A9A9;
  box-shadow: 1px 1px 1px pink;
}

.ficheProduit .infos-produit {
    font-size: 0;
    margin: 0 60px;
}
