<div class="container">
  <h1 class="title-margin-top title-margin-bottom" id="demandes"> - Mes demandes -</h1>
</div>
<% @bookings.each do |booking| %>
      <%= render "shared/card_product", booking: booking %>
<% end %>

<div class="container">
  <h1 class="title-margin-top title-margin-bottom" id="locations"> - Mes locations -</h1>
</div>



<div class="container">
  <h1 class="title-margin-top title-margin-bottom" id="dressing"> - Mon dressing -</h1>

  <div class="cards">
    <% @items.each do |item| %>
        <%= render "shared/card", item: item %>
  <% end %>

  </div>
</div>
