<div class="container">
  <h1 class="title-margin-top title-margin-bottom"> - Mes demandes -</h1>
</div>
<% @bookings.each do |booking| %>
      <%= render "shared/card_product", booking: booking %>
<% end %>
