<div class="container">
  <p id="demandes" style="margin-bottom: -70px; color: #FFFFFF;">...</p>
  <h1 class="title-margin-top title-margin-bottom"> - Mes demandes -</h1>
</div>
<% @bookings.each do |booking| %>
    <% if booking.user == current_user %>
      <%= render "shared/card_product", booking: booking %>
    <% end %>
<% end %>

<div class="container">
  <p id="locations" style="margin-bottom: -70px; color: #FFFFFF;">...</p>
  <h1 class="title-margin-top title-margin-bottom"> - Mes locations -</h1>
</div>
<% @bookingss.each do |booking| %>
    <% if booking.item.user == current_user %>
      <%= render "shared/card_product", booking: booking %>
    <% end %>
<% end %>


<div class="container">
  <p id="dressing" style="margin-bottom: -70px; color: #FFFFFF;">...</p>
  <h1 class="title-margin-top title-margin-bottom"> - Mon dressing -</h1>

  <div class="cards">
    <% @items.each do |item| %>
        <%= render "shared/card", item: item %>
  <% end %>

  </div>
</div>
