<div class="container">
  <div class="card-product">
    <%= cl_image_tag booking.item.photos.first.key, crop: :fill, class:"card-picture" %>
    <div class="card-product-infos">
      <h2><%= booking.item.title.capitalize %></h2>
    </div>
  </div>
</div>
