<h2 style="
    margin-top: 50px;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 50px;
    margin-left: 45px;
    font-size: 27px;">- Une communauté soudée ! -</h2>

<div class="container" id="col" style="display: flex; font-family: 'Montserrat', sans-serif;">
  <div class="bloc-left" style="width: 4550px;">
    <p>Sed ut perspiciatis</p>
    <p style="color: #9b9999;">Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut o eosqui nesciunt. Neque porro quisquam est.</p>
  </div>

  <div class="bloc-right" style="width: 4550px; margin-left: 80px;">
    <p>Lorem ipsum dolor</p>
    <p style="color: #9b9999;">Amet, consectetur adipiscing elit, sed do eiusmod tempor nisi. ipsam voluptatem quia voluptas sit aspernatur aut.</p>
  </div>
</div>
