<h2 style="
    margin-top: 50px;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 50px;
    margin-left: 45px;
    font-size: 27px;">- Une communauté soudée ! -</h2>

<div class="container" id="col" style="display: flex; font-family: 'Montserrat', sans-serif;">
  <div class="bloc-left" style="width: 4550px;">
    <p>Pressing offert !</p>
    <p style="color: #9b9999;">Pour améliorer votre expérience parmi nous, nous avons le plaisir de vous offrir le nettoyage de votre tenue.</p>
  </div>

  <div class="bloc-right" style="width: 4550px; margin-left: 80px;">
    <p>Tenue non portée ? On rembourse !</p>
    <p style="color: #9b9999;">Les tenues que vous n'aurez pas eu l'occasion de porter vous seront immédiatement remboursées.</p>
  </div>
</div>
