<div class="footer">

  <div class="footer-copyright">
    <p>Nous contacter</p>
    <p>FAQ</p>
      <%= link_to root_path do %>
        <%= image_tag "Logo.png", class: "navbar-brand" %>
      <% end %>
    <p>CGL</p>
    <p>Mentions Légales</p>
  </div>

  <div class="footer-links">
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
  </div>
</div>
