<div class="footer">

  <div class="footer-copyright">
    <p>Nous contacter</p>
    <p>FAQ</p>
    <h2>La Bonne Tenue</h2>
    <p>CGL</p>
    <p>Mentions Légales</p>
  </div>

  <div class="footer-links">
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
  </div>
</div>
