<div class="navbar fixed-top navbar-expand-lg navbar-light navbar-lewagon px-3 pl-5 pr-5" style="box-shadow: 5px 1px 10px grey;">

  <a class="navbar-brand" href="#">La Bonne Tenue</a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" style="font-size: 14px;"id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

      <li class="nav-item dropdown">
        <a class="nav-link1 dropdown-toggle mr-2" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Produits
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown" style="margin-top: 16px ;">
          <a class="dropdown-item" href="#" style="color: grey; font-size: 15px;">Robes</a>
          <a class="dropdown-item" href="#" style="color: grey; font-size: 15px;">Manteaux & Vestes</a>
          <a class="dropdown-item" href="#" style="color: grey; font-size: 15px;">Tops & Blouses</a>
          <a class="dropdown-item" href="#" style="color: grey; font-size: 15px;">Pantalons & Jeans</a>
          <a class="dropdown-item" href="#" style="color: grey; font-size: 15px;">Jupes & Shorts</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#" style="color: grey; font-size: 15px;">Sacs & Accessoires</a>
        </div>
      </li>

      <li class="nav-item2 mr-2">
        <a class="nav-link" href="#">Emprunter</a>
      </li>

      <li class="nav-item2 mr-2">
        <a class="nav-link" href="#">Déposer</a>
      </li>

      <li class="nav-item2 mr-2">
        <a class="nav-link" href="#">Promotions</a>
      </li>

      <li class="nav-item2">
        <a class="nav-link" href="#">Nouveautés</a>
      </li>
    </ul>
  </div>

<% if user_signed_in? %>

  <li class="nav-item dropdown">
  <p style="display: contents; color: #F2A3A0;">Bienvenue !</p> <p style="display: contents; color: white;">....</p>
  <%= image_tag "https://images.unsplash.com/photo-1554151228-14d9def656e4?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1533&q=80", class: "avatar", id: "navbarDropdown2", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
  <div class="dropdown-menu dropdown-menu-lg-right dropdown" style="margin-top: 6px ;" aria-labelledby="navbarDropdownMenuLink-saju">
          <a class="dropdown-item" href="#">Mes Demandes</a>
          <a class="dropdown-item" href="#">Mes Locations</a>
          <a class="dropdown-item" href="#">Mon Dressing</a>
        </div>
  </li>

<% else %>
  <div class="buttons" style="display: flex;">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit" style="width: 100px; border-top-left-radius: 10px; border-bottom-left-radius: 10px;">Login</button>
    <button class="btn btn-success my-2 my-sm-0 text-white" type="submit" style="width: 100px; border-top-right-radius: 10px; border-bottom-right-radius: 10px;">Sign up</button>
  </div>
<% end  %>
</div>
