<h2 style="
    margin-top: 50px;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 50px;
    margin-left: 45px;
    font-size: 27px;">Ils parlent de nous ...</h2>

<div class="card-opinion" style="margin-left: 45px;">
  <img src="https://images.unsplash.com/photo-1628480357286-aeea8e793055?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1599&q=80" style="width: 350px;"/>
  <div class="card-opinion-infos" style="width: 350px; display">
    <div>
      <h2 style="font-family: 'Montserrat', sans-serif;">Title here</h2>
      <p style="font-family: 'Montserrat', sans-serif;">Short description here!</p>
    </div>
    <h2 class="card-opinion-rating" style="width: 350px; font-family: 'Montserrat', sans-serif;">5/5</h2>
    <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-opinion-user avatar-bordered" />
  </div>
</div>
