<h2 style="
    margin-top: 50px;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 50px;
    margin-left: 45px;
    font-size: 27px;">Ils parlent de nous ...</h2>

<div class="container" style="display: flex; justify-content: end; justify-content: space-between;">

  <div class="card-trip" style="width: 350px; margin-left: 45px;">
    <img src="https://images.unsplash.com/photo-1543087903-1ac2ec7aa8c5?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1548&q=80" />
    <div class="card-trip-infos" style="height: 67px;">
      <div>
        <h2>Natasha</h2>
        <p>"Des produits de qualité, je recommande !"</p>
      </div>
      <h2 class="card-trip-pricing"><%= "4/5"%></h2>
      <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />

    </div>
  </div>

  <div class="card-trip" style="width: 350px; margin-left: 45px;">
    <img src="https://images.unsplash.com/photo-1581274915427-76bfa7451b07?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1534&q=80" />
    <div class="card-trip-infos" style="height: 67px;">
      <div>
        <h2>Marina</h2>
        <p>"Un service client toujours à l'écoute"</p>
      </div>
      <h2 class="card-trip-pricing"><%= "5/5"%></h2>
      <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
    </div>
  </div>

  <div class="card-trip" style="width: 350px; margin-left: 45px;">
    <img src="https://images.unsplash.com/photo-1503342217505-b0a15ec3261c?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1500&q=80" />
    <div class="card-trip-infos" style="height: 67px;">
      <div>
        <h2>Elodie</h2>
        <p>"De magnifiques produits. Au top !"</p>
      </div>
      <h2 class="card-trip-pricing"><%= "4/5"%></h2>
      <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
    </div>
  </div>

</div>

<%# <div class="card-opinion" style="margin-left: 45px;">
  <img src="https://images.unsplash.com/photo-1628480357286-aeea8e793055?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1599&q=80" style="width: 350px;"/>
  <div class="card-opinion-infos" style="width: 350px; display">
    <div>
      <h2 style="font-family: 'Montserrat', sans-serif;">Title here</h2>
      <p style="font-family: 'Montserrat', sans-serif;">Short description here!</p>
    </div>
    <h2 class="card-opinion-rating" style="width: 350px; font-family: 'Montserrat', sans-serif;">5/5</h2>
    <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-opinion-user avatar-bordered" />
  </div>
</div> %>
