<h2 style="
    margin-top: 50px;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 50px;
    margin-left: 45px;
    font-size: 27px;">- Nos Produits -</h2>

<div class="container" id="Products avatar" style="display: flex; justify-content: space-between;">

  <div>
    <img src="https://images.unsplash.com/photo-1525507119028-ed4c629a60a3?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1575&q=80" style="
      width: 115px;
      height: 115px;
      border-radius: 50%;
      object-fit: cover;
      object-position: top center;"/>
  </div>

  <div>
    <img src="https://images.unsplash.com/photo-1516762689617-e1cffcef479d?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1554&q=80" style="
      width: 115px;
      height: 115px;
      border-radius: 50%;
      object-fit: cover;
      object-position: top center;"/>
  </div>

  <div>
    <img src="https://images.unsplash.com/photo-1479064555552-3ef4979f8908?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1500&q=80" style="
      width: 115px;
      height: 115px;
      border-radius: 50%;
      object-fit: cover;
      object-position: top center;"/>
  </div>

  <div>
    <img src="https://images.unsplash.com/photo-1527180718958-1721e2518786?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1570&q=80" style="
      width: 115px;
      height: 115px;
      border-radius: 50%;
      object-fit: cover;
      object-position: top center;"/>
  </div>

  <div>
    <img src="https://images.unsplash.com/photo-1623832101940-647285e32a58?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1600&q=80" style="
      width: 115px;
      height: 115px;
      border-radius: 50%;
      object-fit: cover;
      object-position: top center;"/>
  </div>

  <div>
    <img src="https://images.unsplash.com/photo-1559563458-527698bf5295?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1500&q=80" style="
      width: 115px;
      height: 115px;
      border-radius: 50%;
      object-fit: cover;
      object-position: top center;"/>
  </div>
</div>

<div class="container" id="Products titles" style="font-family: 'Montserrat', sans-serif; display: flex; justify-content: space-between; color: #9b9999; margin-top: 20px;">
    <p style="margin-left: 16px;">- Robes -</p>
    <p style="margin-left: 34px;">- Manteaux & Vestes -</p>
    <p style="margin-left: -3px;">- Tops & Blouses -</p>
    <p style="margin-right: -7px;">- Pantalons & Jeans -</p>
    <p style="margin-right: 4px;">- Jupes & Shorts -</p>
    <p style="margin-right: -38px;">- Sacs & Accessoires -</p>
</div>
