<%= render "shared/banner", item: @item %>

<div class="container">

  <%# <p id="p-index">Accueil / Emprunter / A MODIFIER</p> %>
  <div class="cards" style="margin-top: 30px">

    <% @items.each do |item| %>
     <%= link_to item_path(item) do %>
      <%= render "shared/card", item: item %>
      <% end %>
    <% end %>
  </div>
</div>
