.card-product {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
  padding-right: 20px;
}

.test-test {
  display: flex;
  align-items: center;
}

.test-test > img {
  height: 100%;
  width: 120px;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
}

.card-picture {
  padding-top: 60px;
}


.title-margin-bottom {
  margin-bottom: 60px;
}

.icon-validation {
  color: #71EFA3;
  font-size: 55px;
}

.icon-validation:hover {
  transform: scale(1.07);
}

.icon-refuse {
  color: #D83A56;
  font-size: 55px;
}

.icon-refuse:hover {
  transform: scale(1.07);
}

.icon_valid {
  text-align: right;
  transition: 0.3s;
  margin-right: 8px;
}
