.footer {
  background-color: white;
  display: grid;
  align-items: center;
  height: 120px;
  padding: 0px 50px;
  color: black;
  margin-top: 40px
}

.footer-links {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}
.footer-links a {
  color: black;
  opacity: 0.15;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
}

.footer-copyright {
  display: flex;
  justify-content: space-around;
  font-family: 'Montserrat', sans-serif;
}

.footer-copyright p {
  font-size: 12px;
}

.footer-copyright h2 {
  font-size: 22px;
}

.navbar-brand {
  margin-top: -16px;
  height: 66px;
  width: 55px;
  margin-bottom: -13px;
  margin-left: 16px;
}
